.container{
    background: beige;
    height: 100vh;
    display: flex;
    /* flex-direction:row;
    flex-wrap:wrap-reverse; */
    flex-flow: row nowrap;
    /* justify-content: space-between;
    align-content: center; */
}

    .items{
    height: 200px;
    width: 200px;
    border: 1px solid red;
    
}

    .item1{
    background: rebeccapurple;
    /* font-size: 10px; */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* flex-basis: 3,3; */
    align-self:auto;
}

    .item2{
    background: rosybrown;
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* flex-basis: 2 2; */
}

    .item3{
    background: royalblue;
    /* flex-grow: 2; */
    /* flex-basis: 1 1; */
}

    .item4{
    background: yellow;
}

    .item5{
    background: yellowgreen;
}

    .item6{
    background: brown;
}

    .item7{
    background: burlywood;
}

.item8{
    background: cadetblue;
}

.item9{
    background: chartreuse;
}

.item10{
    background: coral;
}